html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #F1F1F1;
}

.main {
  height: 1500px;
}

.header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 60px;
  width: 100px;
}

.logo_left {
  position: absolute;
  top: 0;
  left: 70px;
}

.logo__home {
  width: 100px;
  height: 60px;
  display: block;
  background: url(/img/YouTube-logo.png) no-repeat center;
  background-size: cover;
}

.search {
  min-width: 600px;
  min-height: 60px;
  padding: 15px;
}

.search_left {
  position: absolute;
  top: 0px;
  left: 250px;
}

.search__p {
  width: 600px;
  height: 30px;
  padding: 0 55px 0 5px;
}

.search__b {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 50px;
  height: 30px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1) url(http://defaulticon.com/images/icons32x32/search_0.png?itok=eqsHkE5C) no-repeat center;
  opacity: .2;
}

.button-add {
  width: 250px;
  height: 60px;
  padding: 15px;
}

.button-add_right {
  position: absolute;
  right: 25px;
  top: 0;
}

.button-add__add-video {
  display: block;
  float: left;
  width: 120px;
  height: 28px;
  background: #F8F8F8;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  color: #222;
  text-align: center;
  text-decoration: none;
  font: 12px/28px Arial, sans-serif;
  margin-right: 15px;
}

.button-add__notify {
  display: block;
  float: left;
  width: 25px;
  height: 30px;
  background: url(http://defaulticon.com/images/icons32x32/idea-alt.png?itok=2CsJMgty) no-repeat center;
}

.button-add__notify:hover {
  background: url(http://defaulticon.com/images/icons32x32/idea.png?itok=vdO0MeN5) no-repeat center;
}

.button-add__profile {
  margin-right: 20px;
  display: block;
  float: right;
  width: 25px;
  height: 30px;
  background: url(http://defaulticon.com/images/icons32x32/games-alt-1.png?itok=ppalxXMJ) no-repeat center;
}

::-webkit-input-placeholder {
  color: #666;
  font: 400 16px Arial;
}

::-moz-placeholder {
  color: #666;
  font: 400 16px Arial;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #666;
  font: 400 16px Arial;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #666;
  font: 400 16px Arial;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.container_top-indent {
  margin-top: 70px;
}

.sidebar {
  width: 240px;
  height: 400px;
  position: fixed;
  padding-top: 10px;
  top: 60px;
  left: 0;
  background: #fff;
  border-top: 1px solid #555;
}

.sidebar__link {
  width: 200px;
  height: 28px;
  margin-left: 30px;
  text-indent: 40px;
}

.sidebar__link-ittem {
  height: 100%;
  display: block;
  text-decoration: none;
  color: rgba(17, 17, 17, 0.7);
  font: 14px/28px Arial, sans-serif;
}

.sidebar__link-ittem:hover {
  color: #fff;
}

.sidebar__link-ittem-bg1 {
  background: url(/img/youtube-home.png) no-repeat left;
}

.sidebar__link-ittem-bg1:hover {
  background: rgba(17, 17, 17, 0.7) url(/img/youtube-home-l.png) no-repeat left;
}

.sidebar__link-ittem-bg2 {
  background: url(/img/youtube-profile.png) no-repeat left;
}

.sidebar__link-ittem-bg2:hover {
  background: rgba(17, 17, 17, 0.7) url(/img/youtube-profile-l.png) no-repeat left;
}

.sidebar__link-ittem-bg3 {
  background: url(/img/youtube-burn.png) no-repeat left;
}

.sidebar__link-ittem-bg3:hover {
  background: rgba(17, 17, 17, 0.7) url(/img/youtube-burn-l.png) no-repeat left;
}

.sidebar__link-ittem-bg4 {
  background: url(/img/youtube-star.png) no-repeat left;
}

.sidebar__link-ittem-bg4:hover {
  background: rgba(17, 17, 17, 0.7) url(/img/youtube-star-l.png) no-repeat left;
}

.sidebar__link-ittem-bg5 {
  background: url(/img/youtube-late.png) no-repeat left;
}

.sidebar__link-ittem-bg5:hover {
  background: rgba(17, 17, 17, 0.7) url(/img/youtube-late-l.png) no-repeat left;
}
